.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden; 
  z-index: 1;
}

.hero-section::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}
.circle-1{
  width: 241px;
  height: 249px;
  z-index: 1;
  background-color: #FAD3CF;
  position: absolute;
  border-radius: 50%;
  left: 681px;
  top: 59px;
}
.circle-2{
  background-color: #DAA5A5;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  position: absolute;
  left: 371px;
}
.circle-3{
  background-color: #DAA5A5;
  width: 298px;
  height: 307px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 205px;
}
.circle-4{
  width: 241px;
  height: 249px;
  z-index: 1;
  background-color: #FAD3CF;
  position: absolute;
  border-radius: 50%;
  top: 468px;
  left: 550px;
}
.circle-5{
  background-color: #DAA5A5;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  position: absolute;
  left: 342px;
  top: 549px;
}